.Male {
    background-color: rgba(98, 149, 238, 1)!important;
    color: white!important;
    border-radius: 50%!important;
    height: 40px!important;
    width: 40px!important;
    align-items: center!important;
    display: flex!important;
    font-size: 2em!important;
    position: absolute!important;
    top: 0%!important;
    left: 100%!important;
    transform: translate(-50%, -50%)!important;
    -ms-transform: translate(-50%, -50%)!important;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.15)!important;
}

.Female {
    background-color: #f14668 !important;
    color: white!important;
    border-radius: 50%!important;
    height: 40px!important;
    width: 40px!important;
    align-items: center!important;
    display: flex!important;
    font-size: 2em!important;
    position: absolute!important;
    top: 0%!important;
    left: 100%!important;
    transform: translate(-50%, -50%)!important;
    -ms-transform: translate(-50%, -50%)!important;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.15)!important;
}


.Male.Female, svg {
    margin: 0 auto!important;
    display: block!important;
}

.MaleWallUserCover {
    background-color: rgba(98, 149, 238, 1)!important;
    color: white!important;
    border-radius: 50%!important;
    height:32px!important;
    width: 32px!important;
    align-items: center!important;
    display: flex!important;
    font-size: 1.5em!important;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.15)!important;
}

.FemaleWallUserCover {
    background-color: #f14668 !important;
    color: white!important;
    border-radius: 50%!important;
    height: 40px!important;
    width: 40px!important;
    align-items: center!important;
    display: flex!important;
    font-size: 2em!important;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.15)!important;
}


