.WallUserCoverBottom {
    background-color: white;
    /*padding: 15px;*/
    border: 1px solid #e5e5e5;
    border-top: none;
}

.LikeCounter {
    transition: all .2s ease-in-out;
    transform: scale(1);
    color: #fe476d;
    font-size: 0.9em;
    font-weight: 700;
    vertical-align: middle;
}

.LikeCounter:hover {
    transform: scale(1.1);
    color: #f14668;
}

.BottomLeft{
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;

}

.BottomRight {
    display: table-cell;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600;
    width: 100%;
    color: #000000;
    vertical-align: middle;
}

.like-counter {
    margin-top: .45em;
    font-size: 0.7em;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;

}

.LineDivider {
    margin-top: 0.7em;
    margin-bottom: 0.9em;
    border: 0.8px solid #d0d0d0;
}

.BottomAge, .BottomDistance{
    font-size: 0.7em;
    font-style: oblique;
    font-weight: 400;
    color: #5a5a5a;
}

.vertical-divider{
    color: #d0d0d0;
}

.SearchFor {
    font-family: "Open Sans", sans-serif;
    padding: 15px;
    background: linear-gradient(-130deg, #fff, #ececec);
    width: 100%;
    height: 100%;
    display: grid;
    font-size: 0.8em;
}


.TextWoman {
    padding: 8px;
    margin: 2px;
    color: #bdbdbd;
    background-color: #ffffff;
    font-weight: 600;
    font-weight: bold;
    /*box-shadow: 8px 8px 8px 0px rgba(0,0,0, 0.06);*/
}

.TextMan {
    font-weight: 600;
    padding: 8px;
    color: #bdbdbd;
    margin: 2px;
    font-weight: bold;
    background-color: rgb(255, 255, 255) !important;
    /*box-shadow: 8px 8px 8px 0px rgba(0,0,0, 0.06);*/
}

.TextMan:hover {
    color: white;
    background-color: rgba(98, 149, 238, 1)!important;
    box-shadow: 8px 8px 8px 0px rgba(0,0,0, 0.08);
}

.TextWoman:hover {
    color: white;
    background-color: #f14668 !important;
    box-shadow: 8px 8px 8px 0px rgba(0,0,0, 0.08);

}
.BottomFirstPart {
    display: table-cell;
    vertical-align: middle;
    padding: 15px;
}

.SearchForText {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    color: #a3a3a3;
    padding-bottom: 8px;
    text-transform: uppercase;
}