body {
  background-color: #ebebeb;
  font-family: "Open Sans" ,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Login - Signup
@import './components/Login/Login';
@import './components/Signup/Signup';

// EditProfil
@import './components/EditProfil/EditProfil';
@import './components/EditProfil/AddPhotos/AddPhotos';
@import './components/EditProfil/BasicInformations/BasicInformations';
@import './components/EditProfil/AddPhotos/Preview/loadPreview/loadPreview';
@import './components/fileUpload/fileUpload';
@import './components/EditProfil/AddInterests/AddInterests';
@import './components/EditProfil/AddInterests/Interests/Interests';
@import './components/EditProfil/Location/Location';

// Menu
@import './components/Menu/Menu';

// Wall
@import './containers/Wall/Wall';
@import './components/UserMiniCard/UserMiniCard';
@import './components/ModalUser/ModalUser';
@import './containers/Wall/SearchTags/SearchTags';
@import './../node_modules/react-input-range/lib/css/index.css';
@import './components/EditProfil/ChangeLocation/ChangeLocation';


// Chat
@import './containers/Chat/Chat';
@import './components/ModalChat/ModalChat';

// Footer
@import './containers/Footer/Footer';

// Notifications
@import './components/Notifications/NotificationsHistory/NotificationsHistory';
@import './../node_modules/react-notifications-component/dist/theme.css';