body {
  background-color: #e9e9e9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// Login - Signup
@import './components/Login/Login.scss';
@import './components/Signup/Signup.scss';

// EditProfil
@import './components/EditProfil/EditProfil.scss';
@import './components/EditProfil/AddPhotos/AddPhotos.scss';
@import './components/EditProfil/BasicInformations/BasicInformations.scss';
@import './components/EditProfil/AddPhotos/Preview/loadPreview/loadPreview.scss';
@import './components/fileUpload/fileUpload';
@import './components/EditProfil/AddInterests/AddInterests';
@import './components/EditProfil/AddInterests/Interests/Interests';
@import './components/EditProfil/Location/Location';

// Menu
@import './components/Menu/Menu';

// Wall
@import './containers/Wall/Wall';
@import './components/UserMiniCard/UserMiniCard';
@import './components/ModalUser/ModalUser';

// Footer
@import './containers/Footer/Footer';

// Notifications
@import './components/Notifications/ModalUserLike/ModalUserLike';