.Modal {
    position: fixed!important;
    z-index: 500!important;
    background-color: white!important;
    width: 100%!important;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3)!important;
    padding: 16px!important;
    top: 30%!important;
    box-sizing: border-box!important;
    transition: all 0.1s ease-out!important;
    border-radius: 10px!important;
    padding-bottom: 1em!important;
}

@media (min-width: 600px) {
    .Modal {
        width: 600px!important;
        left: calc(50% - 300px)!important;
    }
}
