.loginModal {
  box-shadow: 12px 12px 16px rgba(0, 0, 0, 0.02);
  border: none;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  background-color:  #db366e;
  width: 700px !important;
  margin-top : 3em;
  padding-left: 4em !important;
  padding-right: 4em !important;

  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}


/*INPUT*/
.loginForm {
  .ui.grid>.column:not(.row) {
    padding: 0.3rem !important;
  }
  input {
    color:  #5a5a5a !important;
    background-color: white !important;
    border: 2px solid white !important;
    border-radius: 20px !important;
  }
  input::placeholder {
    color:  #5a5a5a !important;
    opacity: 0.7 !important;
  }
  i {
    color: #5a5a5a !important;
  }
}

.inputUser i {
  color: #a2a2a2 !important;
  opacity: 1 !important;
}


/*TEXT*/
.loginNoAccount  a {
  color: white;
  font-weight: bold;
}

.loginh1 {
  color: white;
  font-weight: 200;
  margin-bottom: 40px;
  margin-top: -30px;
}
.loginWarnings {
  display: flex;
  flex-direction: column;
  span {
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 5px;
    border-radius: 10px;
    padding: 12px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: white;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  }
}

.loginNoAccount {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1em;
}


.loginForgot {
  margin-top: -15px;
}

.loginButton {

  background-color: white !important;
  color: #fc3372 !important;
  border-radius: 20px !important;

  &:hover, &:active, &:focus {
    box-shadow: -1px 5px 5px -2px rgba(0,0,0,0.2) !important;
    background-color: white !important;
    color: #fc3372 !important;
    border-radius: 20px !important;
  }
}

/*SHAPES*/
.shape {
  top: -608px;
  border-radius: 31% 69% 32% 68% / 36% 44% 56% 64%;
  width: 1551px;
  height: 1523px;
  position: absolute;
  background-image: linear-gradient(-82deg, #ffffff 0%, #4c4c4c 100%);
  right: 249px;
  z-index: -1;
  mix-blend-mode: darken;
  transform: rotate(-155deg);
  box-shadow: 11px 3px 5px 5px rgba(0, 0, 0, 0.5);
  opacity: 0.3;
}

@media only screen and (min-width: 350px) and (max-width: 450px){
  .shape {
    right: 100px !important;
  }
}
@media only screen and (min-width: 450px) and (max-width: 767px){
  .shape {
    right: 300px !important;
  }
}

@media only screen and (max-width: 767px){
  .loginModal{
    width: 300px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 4em !important;
    padding-right: 4em !important;
  }
  .shape {
    right: 150px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px){
  .loginModal{
    width: 500px !important;
    padding-left: 4em !important;
    padding-right: 4em !important;
  }
}

@media only screen and (max-width: 1199.98px) and (min-width: 992px){
  .loginModal{
    width: 500px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 4em !important;
    padding-right: 4em !important;
  }
}



@media only screen and (min-width: 1200px){
  .loginModal{
    width: 500px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 4em !important;
    padding-right: 4em !important;
  }
  .shape {
    top: -608px;
    border-radius: 31% 69% 32% 68% / 36% 44% 56% 64%;
    width: 1551px;
    height: 1523px;
    position: absolute;
    background-image: linear-gradient(-82deg,
            #ffffff 0%,
            #4c4c4c 100%);
    right: 269px;
    z-index: -1;
    mix-blend-mode: darken;
    transform: rotate(-155deg);
    box-shadow: 11px 3px 5px 5px
    rgba(0, 0, 0, 0.5);
    mix-blend-mode: darken;
    opacity: 0.3;
  }
}
