.sameInterest {
  background-color: #122034 !important;
  color: white !important;
}

#like {
  background-color: #db366e;
  color: white;
}
#hide {
  background-color: #000000;
  color: white;
}
#blockuser {
  background-color: #c82325;
  color: white;
}
#signal {
  background-color: #c82325;
  color: white;
}