.SearchTags {
  .ui.dropdown:not(.button)>.default.text {
    font-size: 1em !important;
    font-family: "Open Sans", sans-serif;
    color: grey !important;
  }
  border: none !important;
  border-radius: 10px !important;
  .ui.multiple.dropdown>.label{
    font-size: 0.8em !important;
  }
  .ui.selection.dropdown {
     border: none !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
   }
  .ui.selection.dropdown {
    border: none !important;
  }
}
