.AddInterests {
  width: 750px;
  padding: 5em;
  margin: auto;
  background-color: #f93874;
  border-radius: 20px !important;
  position: relative;
  overflow: hidden !important;
}

.InterestsTitle {
  color: white;
  font-size: 2.5em;
  text-shadow: 5px 2px 10px rgba(0,0,0,0.3);
}

.TellOthersBox {
  border-radius: 20px;
  border: 2px dashed rgba(255, 255, 255, 0.41);
  background-color: #d03368;
}

.TextInfoInterests {
  color: white;
  padding-left: 4rem;
  padding-right: 4rem;
  font-weight: bold;
}

.dropdown-active  {
  cursor: pointer;
  background-color: #cacaca96 !important;
}

@media only screen and (min-width: 275px) and (max-width: 767px){
  .AddInterests {
    margin: 1rem;
    padding: 2.5rem;
  }
}

@media only screen and (min-width: 1200px){
  .AddInterests {
    width: 700px;
    margin: auto;
  }
}
@media only screen and (min-width: 1500px) {
  .AddInterests {
    width: 700px !important;
    margin: auto;

  }
}