code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #212541;
  overflow: auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Login - Signup
@import './components/Login/Login.scss';
@import './components/Signup/SignupStyle.scss';

// EditProfil
@import './components/EditProfil/EditProfil.scss';
@import './components/EditProfil/AddPhotos/AddPhotos.scss';
@import './components/EditProfil/BasicInformations/BasicInformationsAnimate.scss';
@import './components/EditProfil/AddPhotos/Preview/loadPreview/loadPreview.scss';
@import './components/fileUpload/fileUpload';

// Layout
@import './components/Layout/Layout.scss';

// UI
@import './components/Divider/Divider';

// Menu
.Menu {
  margin-left: 5em;
  margin-right: 5em;
  left: 0;
}

// Upload
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
