body,html {
  background-color: #192740;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%;
}
#root {
  min-height: 100%;
  position: relative;
}


// Login - Signup
@import './components/Login/Login.scss';
@import './components/Signup/SignupStyle.scss';

// EditProfil
@import './components/EditProfil/EditProfil.scss';
@import './components/EditProfil/AddPhotos/AddPhotos.scss';
@import './components/EditProfil/BasicInformations/BasicInformationsAnimate.scss';
@import './components/EditProfil/AddPhotos/Preview/loadPreview/loadPreview.scss';
@import './components/fileUpload/fileUpload';
@import './components/EditProfil/AddInterests/AddInterests';
@import './components/EditProfil/AddInterests/Interests/Interests';
@import './components/EditProfil/Location/Location';
@import './containers/Profil/Profil';
// Layout
@import './components/Layout/Layout.scss';

// UI
@import './components/Divider/Divider';

// Menu
@import './components/Menu/Menu';

// Footer
@import './components/Footer/Footer';


// Wall
@import './containers/Wall/Wall';
@import './components/UserMiniCard/UserMiniCard';



// Upload
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
