code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #212541;
  overflow: auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loginModal {
  box-shadow: 12px 12px 16px rgba(0, 0, 0, 0.02);
  border: none;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  background-color: #fc3372;
  width: 700px !important;
  margin-top: 3em;
  padding-left: 4em !important;
  padding-right: 4em !important;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

/*INPUT*/
.loginForm .ui.grid > .column:not(.row) {
  padding: 0.3rem !important;
}
.loginForm input {
  color: #5a5a5a !important;
  background-color: white !important;
  border: 2px solid white !important;
  border-radius: 20px !important;
}
.loginForm input::placeholder {
  color: #5a5a5a !important;
  opacity: 0.7 !important;
}
.loginForm i {
  color: #5a5a5a !important;
}

.inputUser i {
  color: #a2a2a2 !important;
  opacity: 1 !important;
}

/*TEXT*/
.loginNoAccount a {
  color: white;
  font-weight: bold;
}

.loginh1 {
  color: white;
  font-weight: 200;
  margin-bottom: 40px;
  margin-top: -30px;
}

.loginWarnings {
  display: flex;
  flex-direction: column;
}
.loginWarnings span {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 4px;
  border-radius: 10px;
  padding: 10px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.loginNoAccount {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1em;
}

.loginForgot {
  margin-top: -15px;
}

.loginButton {
  background-color: white !important;
  color: #fc3372 !important;
  border-radius: 20px !important;
}
.loginButton:hover, .loginButton:active, .loginButton:focus {
  box-shadow: -1px 5px 5px -2px rgba(0, 0, 0, 0.2) !important;
  background-color: white !important;
  color: #fc3372 !important;
  border-radius: 20px !important;
}

/*SHAPES*/
.shape {
  top: -608px;
  border-radius: 31% 69% 32% 68%/36% 44% 56% 64%;
  width: 1551px;
  height: 1523px;
  position: absolute;
  background-image: linear-gradient(-82deg, #ffffff 0%, #4c4c4c 100%);
  right: 249px;
  z-index: -1;
  mix-blend-mode: darken;
  transform: rotate(-155deg);
  box-shadow: 11px 3px 5px 5px rgba(0, 0, 0, 0.5);
  opacity: 0.3;
}

@media only screen and (min-width: 350px) and (max-width: 450px) {
  .shape {
    right: 100px !important;
  }
}
@media only screen and (min-width: 450px) and (max-width: 767px) {
  .shape {
    right: 300px !important;
  }
}
@media only screen and (max-width: 767px) {
  .loginModal {
    width: 300px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 4em !important;
    padding-right: 4em !important;
  }

  .shape {
    right: 150px;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .loginModal {
    width: 500px !important;
    padding-left: 4em !important;
    padding-right: 4em !important;
  }
}
@media only screen and (max-width: 1199.98px) and (min-width: 992px) {
  .loginModal {
    width: 500px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 4em !important;
    padding-right: 4em !important;
  }
}
@media only screen and (min-width: 1200px) {
  .loginModal {
    width: 500px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 4em !important;
    padding-right: 4em !important;
  }

  .shape {
    top: -608px;
    border-radius: 31% 69% 32% 68%/36% 44% 56% 64%;
    width: 1551px;
    height: 1523px;
    position: absolute;
    background-image: linear-gradient(-82deg, #ffffff 0%, #4c4c4c 100%);
    right: 269px;
    z-index: -1;
    mix-blend-mode: darken;
    transform: rotate(-155deg);
    box-shadow: 11px 3px 5px 5px rgba(0, 0, 0, 0.5);
    mix-blend-mode: darken;
    opacity: 0.3;
  }
}
.signupModal {
  box-shadow: 12px 12px 16px rgba(0, 0, 0, 0.02);
  border: none;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  background-color: #fc3372;
  width: 700px !important;
  margin-top: 3em;
  padding-left: 3em !important;
  padding-right: 3em !important;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

/*INPUT*/
.signupForm .ui.grid > .column:not(.row) {
  padding: 0.3rem !important;
}
.signupForm input {
  color: #5a5a5a !important;
  background-color: white !important;
  border: 2px solid white !important;
  border-radius: 20px !important;
}
.signupForm input::placeholder {
  color: #5a5a5a !important;
  opacity: 0.7 !important;
}
.signupForm i {
  color: #5a5a5a !important;
}

.inputUser i {
  color: #a2a2a2 !important;
  opacity: 1 !important;
}

/*TEXT*/
.signupNoAccount a {
  color: white;
  font-weight: bold;
}

.signuph1 {
  color: white;
  font-weight: 200;
  margin-bottom: 40px;
  margin-top: -30px;
}

.signupWarnings {
  display: flex;
  flex-direction: column;
}
.signupWarnings span {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 4px;
  border-radius: 10px;
  padding: 10px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.signupNoAccount {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}

.signupForgot {
  margin-top: -10px;
}

.signupButton {
  background-color: white !important;
  color: #fc3372 !important;
  border-radius: 20px !important;
}
.signupButton:hover, .signupButton:active, .signupButton:focus {
  box-shadow: -1px 5px 5px -2px rgba(0, 0, 0, 0.2) !important;
  background-color: white !important;
  color: #fc3372 !important;
  border-radius: 20px !important;
}

/*SHAPES*/
.shapeSignup {
  top: -608px;
  border-radius: 31% 69% 32% 68%/36% 44% 56% 64%;
  width: 1551px;
  height: 1523px;
  position: absolute;
  background-image: linear-gradient(-82deg, #ffffff 0%, #4c4c4c 100%);
  right: 419px;
  z-index: -1;
  mix-blend-mode: darken;
  transform: rotate(-155deg);
  box-shadow: 11px 3px 5px 5px rgba(0, 0, 0, 0.5);
  mix-blend-mode: darken;
  opacity: 0.3;
}

@media only screen and (max-width: 767px) {
  .signupModal {
    width: 400px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 3em !important;
    padding-right: 3em !important;
  }

  .shapeSignup {
    right: 200px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 450px) {
  .shapeSignup {
    right: 100px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 767px) {
  .shapeSignup {
    right: 200px;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .signupModal {
    width: 700px !important;
    padding-left: 3em !important;
    padding-right: 3em !important;
  }
}
@media only screen and (max-width: 1199.98px) and (min-width: 992px) {
  .signupModal {
    width: 700px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 3em !important;
    padding-right: 3em !important;
  }
}
@media only screen and (min-width: 1200px) {
  .ui.container .signupModal {
    width: 900px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 3em !important;
    padding-right: 3em !important;
  }
}
.EditProfil {
  padding: 5em;
  margin-left: 5em;
  margin-right: 5em;
  background-color: #f93874;
  border-radius: 20px !important;
}

.CompleteTitle {
  color: white;
  font-size: 2.8em;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-shadow: 5px 2px 10px rgba(0, 0, 0, 0.3);
}

.ui.indicating.progress[data-percent] .bar {
  background-color: #202540 !important;
}

.ui.progress .bar {
  background: #4f384f;
  border-radius: 15px !important;
  border: 2px solid white;
}

.progress {
  color: white !important;
  border-radius: 15px !important;
}

.ui.progress {
  background: white !important;
  border-radius: 15px !important;
}

.ui.form .field > label {
  display: block;
  margin: 0 0 0.28571429rem 0;
  color: rgba(255, 255, 255, 0.6) !important;
  font-size: 0.92857143em;
  text-transform: none;
}

.formEdit .field {
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
}
.formEdit.ui.form .field .dropdown:not i {
  font-size: 1.3em !important;
  color: grey !important;
}
.formEdit .ui.form input::placeholder {
  color: #a2a2a2 !important;
}
.formEdit input, .formEdit .selection, .formEdit textarea {
  border-radius: 15px !important;
  border: none !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 1.3em !important;
  color: #4f384f !important;
  font-weight: 700;
  background: linear-gradient(-150deg, white, #eaeaea) !important;
  box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.1) !important;
}

.EditProfilArrow {
  transition: all ease-in-out 0.15s;
  color: #ffffff !important;
  font-size: 6em !important;
  transform: scale(1) !important;
}
.EditProfilArrow:hover {
  transform: scale(1.2) !important;
}

.AddPhotos {
  padding: 5em;
  margin-left: 5em;
  margin-right: 5em;
  background-color: #f93874;
  border-radius: 20px !important;
  position: relative;
}

.AddPhotosAnimate-enter {
  opacity: 0;
  right: -750px;
  position: relative;
}

.AddPhotosAnimate-enter-active {
  opacity: 1;
  right: 0px;
  position: relative;
  transition: all ease-in-out 0.2s;
}

.AddPhotosAnimate-exit {
  opacity: 1;
  right: 0px;
  position: relative;
}

.AddPhotosAnimate-exit-active {
  opacity: 0;
  right: -750px;
  position: relative;
  transition: all ease-in 0.2s;
}

.ShadowImage {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.15) !important;
  border-radius: 10px !important;
}

.titlePreviewAddPhotos {
  color: white;
  font-size: 1.8em;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-shadow: 5px 2px 10px rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 275px) and (max-width: 767px) {
  .AddPhotos {
    margin: 1rem;
    padding: 2.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .AddPhotos {
    width: 1000px;
    margin: auto;
  }
}
@media only screen and (min-width: 1500px) {
  .AddPhotos {
    width: 1000px !important;
    margin: auto;
  }
}
.BasicsInformationsAnimate-enter {
  opacity: 0;
  right: 750px;
  position: relative;
}

.BasicsInformationsAnimate-enter-active {
  opacity: 1;
  right: 0px;
  position: relative;
  transition: all ease-in-out 0.2s;
}

.BasicsInformationsAnimate-exit {
  opacity: 1;
  right: 0px;
  position: relative;
}

.BasicsInformationsAnimate-exit-active {
  opacity: 0;
  right: 750px;
  position: relative;
  transition: all ease-in 0.2s;
}

.BasicInformations {
  padding: 5em;
  margin-left: 5em;
  margin-right: 5em;
  background-color: #f93874;
  border-radius: 20px !important;
}

.DropdownBasic .ui.fluid.dropdown {
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}

@media only screen and (min-width: 275px) and (max-width: 767px) {
  .BasicInformations {
    margin: 1rem;
    padding: 2.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .BasicInformations {
    width: 900px;
    margin: auto;
  }
}
@media only screen and (min-width: 1500px) {
  .BasicInformations {
    width: 800px;
    margin: auto;
  }
}
.ImagePreview {
  border: 2px dashed rgba(255, 255, 255, 0.52) !important;
  border-radius: 10px !important;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  object-fit: cover !important;
  width: 200px;
  height: auto;
}

.WarningsAddPhotos {
  border-radius: 15px;
}
.WarningsAddPhotos span {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.containerUpload form button {
  background-color: white !important;
  color: #fc3372 !important;
  border-radius: 35px !important;
  font-size: 1.5em;
  border: none !important;
}
.containerUpload form button:hover, .containerUpload form button:active, .containerUpload form button:focus {
  box-shadow: -1px 5px 5px -2px rgba(0, 0, 0, 0.2) !important;
  background-color: white !important;
  color: #fc3372 !important;
  border-radius: 35px !important;
}

.file-upload {
  max-width: 900px;
  margin: 0 auto;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  background: rgba(198, 44, 91, 0.6);
  border: 2px dashed #ffffff;
  margin-top: 30px;
  position: relative;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.image-dropping,
.image-upload-wrap:hover {
  background: rgba(157, 35, 73, 0.6);
  border: 2px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 10px;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.dividerC {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

.dividerH {
  padding-right: 20px;
  padding-rights: 20px;
  display: block;
}

.Menu {
  margin-left: 5em;
  margin-right: 5em;
  left: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*# sourceMappingURL=App.css.map */
