.loginModal {
  box-shadow: 12px 12px 16px rgba(0, 0, 0, 0.02);
  border: none;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  background-color: #fc3372;
  width: 500px !important;
  margin-top : 3em;
  padding: 3em;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}


/*INPUT*/
.loginForm {

  input {
    color: white !important;
    background-color: transparent !important;
    border: 2px solid white !important;
    border-radius: 20px !important;
  }
  input::placeholder {
    color: white !important;
    opacity: 0.7 !important;
  }
  i {
    color: white !important;
  }
}

.inputUser i {
  color: #00ee00 !important;
  opacity: 1 !important;
}


/*TEXT*/
.loginNoAccount  a {
  color: white;
  font-weight: bold;
}

.loginh1 {
  color: white;
  font-weight: 200;
  margin-bottom: 40px;
  margin-top: -30px;
}
.loginWarnings {
  display: flex;
  flex-direction: column;
    span {
      background-color: rgba(255, 255, 255, 0.2);
      margin: 4px;
      border-radius: 10px;
      padding: 10px;
      font-weight: 500;
      font-family: "Open Sans", sans-serif;
      color: white;
  }
}

.loginNoAccount {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}


.loginForgot {
  margin-top: -10px;
}

.loginButton {

  background-color: white !important;
  color: #fc3372 !important;
  border-radius: 20px !important;

  &:hover, &:active, &:focus {
    box-shadow: -1px 5px 5px -2px rgba(0,0,0,0.2) !important;
    background-color: white !important;
    color: #fc3372 !important;
    border-radius: 20px !important;
  }
}


/*SHAPES*/
.shape {
  top: -510px;
  border-radius: 31% 69% 32% 68% / 36% 44% 56% 64%;
  width: 1551px;
  height: 523px;
  position: absolute;
  background-image: linear-gradient(-82deg, #ffffff 0%, #4c4c4c 100%);
  right: -48px;
  z-index: -1;
  mix-blend-mode: darken;
  transform: rotate(-155deg);
  box-shadow: 11px 3px 5px 5px rgba(0, 0, 0,0.5);
}
