.InfoConnect {
    margin-bottom: 1.2em!important;
    width: 100%!important;
    display: flex!important;
    flex-wrap: wrap!important;
    text-align: center!important;
    justify-content: center!important;
    z-index: 500!important;
    top: -30px!important;
    position: absolute!important;
}

.InfoConnectText{
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 500!important;
    font-size: 0.8em!important;
    line-height: 100%!important;
    color: rgba(147, 147, 147, 1)!important;
    text-transform: uppercase!important;
}

.Online {
    height: 12px!important;
    width: 12px!important;
    background-color: rgba(114, 210, 90, 1)!important;
    border-radius: 50%!important;
    line-height: 100%!important;
    margin-right: 0.6em!important;
}

.Offline {
    height: 12px!important;
    width: 12px!important;
    background-color: rgba(225, 92, 94, 1)!important;
    border-radius: 50%!important;
    margin-right: 0.6em!important;
}