.BasicInformations{
  padding: 4em;
  max-width: 800px;
  background-color:  #db366e;
  border-radius: 20px !important;
  overflow: hidden !important;
  position: relative !important;
  z-index: 1;
  margin: auto;
  box-shadow: 0px 13px 47px rgba(0, 0, 0, 0.3);
}

.DropdownBasic{
  .ui.fluid.dropdown {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
  }
}

.shapeBasicsInfos {
  top: -608px;
  border-radius: 31% 69% 32% 68% / 36% 44% 56% 64%;
  width: 1551px;
  height: 1523px;
  position: absolute;
  background-image: linear-gradient(-82deg, #ffffff 0%, #4c4c4c 100%);
  right: 305px;
  z-index: -1;
  mix-blend-mode: darken;
  transform: rotate(-155deg);
  box-shadow: 11px 3px 5px 5px rgba(0, 0, 0, 0.5);
  opacity: 0.2;
}
