@media only screen and (min-width: 1200px){
    .ui.container {
        width: 500px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: 7em !important;
        padding-right: 7em !important;
    }
}

@media only screen and (max-width: 767px){
    .ui.container {
        width: 600px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: 7em !important;
        padding-right: 7em !important;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px){
    .ui.container {
        width: 500px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: 5em !important;
        padding-right: 5em !important;
    }
}

@media only screen and (max-width: 1199.98px) and (min-width: 992px){
    .ui.container {
        width: 500px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: 5em !important;
        padding-right: 5em !important;
    }
}