.loginModal {
  box-shadow: 12px 12px 16px rgba(0, 0, 0, 0.02);
  border: none;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  background-color:  #db366e;
  width: 400px !important;
  margin: 4em auto;
  padding-left: 4em !important;
  padding-right: 4em !important;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.loginForm {
  input, .selection , textarea{
    border-radius: 15px !important;
    border: none !important;
    font-family: "Open Sans", sans-serif !important;
    font-size: 1em !important;
    color: #4f384f !important;
    font-weight: 700;
    background: linear-gradient(-150deg, white, #eaeaea) !important;
    box-shadow: 4px 4px 1px rgba(0,0,0,0.1) !important;
  }
  & input::placeholder {
    color: #a2a2a2 !important;
  }
}

.loginNoAccount  a {
  color: white;
  font-weight: bold;
}

.loginh1 {
  color: white;
  font-weight: 200;
  margin-bottom: 40px;
  margin-top: -30px;
}

.loginWarnings {
  display: flex;
  flex-direction: column;
  span {
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 5px;
    border-radius: 10px;
    padding: 12px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: white;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  }
}

.loginNoAccount {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1em;
}

.loginForgot {
  margin-top: -15px;
}

.loginButton {
  background-color: white !important;
  color: #fc3372 !important;
  border-radius: 20px !important;
  &:hover {
    box-shadow: -1px 5px 5px -2px rgba(0, 0, 0, 0.2) !important;
  }

}

// ------------------------
.shape {
  top: -608px;
  border-radius: 31% 69% 32% 68% / 36% 44% 56% 64%;
  width: 1551px;
  height: 1523px;
  position: absolute;
  background-image: linear-gradient(-82deg, #ffffff 0%, #4c4c4c 100%);
  right: 189px;
  z-index: -1;
  mix-blend-mode: darken;
  transform: rotate(-155deg);
  box-shadow: 11px 3px 5px 5px rgba(0, 0, 0, 0.5);
  opacity: 0.3;
}

@media only screen and (min-width: 350px) and (max-width: 450px){
  .loginModal {
    width: 400px !important;
  }
  .shape {
      right: 100px !important;
    }
}
@media only screen and (min-width: 450px) and (max-width: 767px){
  .loginModal {
    width: 200px !important;
  }
  .shape {
      right: 300px !important;
    }
}

@media only screen and (max-width: 767px){
  .loginModal {
    width: 400px !important;
  }
   .shape {
      right: 190px !important;
    }
}