.LikeMale {
    transition: all .2s ease-in-out!important;
    background-color: rgba(98, 149, 238, 1)!important;
    color: white!important;
    padding: 0.5em!important;
    border-radius: 50%!important;
    height: 40px!important;
    width: 40px!important;
    align-items: center!important;
    display: inline-block!important;
    font-size: 40px!important;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.15)!important;
}

.LikeFemale:hover, .LikeMale:hover {
    transform: scale(1.1)!important;
}

.LikeFemale {
    transition: all .2s ease-in-out!important;
    transform: scale(1)!important;
    background-color: #f14668!important;
    color: white!important;
    padding: 0.5em!important;
    border-radius: 50%!important;
    height: 80px!important;
    width: 80px!important;
    align-items: center!important;
    display: inline-block!important;
    font-size: 40px!important;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.15)!important;
}

.Like {
    margin-top: 1.5em!important;
    margin-bottom: 1.5em!important;
}

